<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>BS_SaveBookCategory</servlet-name>
        <servlet-class>com.controller.action.BS_SaveBookCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_DeleteBookCategory</servlet-name>
        <servlet-class>com.controller.action.BS_DeleteBookCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_LoadBooks</servlet-name>
        <servlet-class>com.controller.action.BS_LoadBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_UserLogin</servlet-name>
        <servlet-class>com.controller.action.US_UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_SaveUser</servlet-name>
        <servlet-class>com.controller.action.US_SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_Logout</servlet-name>
        <servlet-class>com.controller.action.US_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_UpdateUser</servlet-name>
        <servlet-class>com.controller.action.US_UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_ChangePassword</servlet-name>
        <servlet-class>com.controller.action.US_ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_SaveBook</servlet-name>
        <servlet-class>com.controller.action.BS_SaveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_UpdateBook</servlet-name>
        <servlet-class>com.controller.action.BS_UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_DeleteBook</servlet-name>
        <servlet-class>com.controller.action.BS_DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_SaveBookAuthor</servlet-name>
        <servlet-class>com.controller.action.BS_SaveBookAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_SaveBookPrinters</servlet-name>
        <servlet-class>com.controller.action.BS_SaveBookPrinters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_DeleteBookAuthor</servlet-name>
        <servlet-class>com.controller.action.BS_DeleteBookAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BS_DeleteBookPrinters</servlet-name>
        <servlet-class>com.controller.action.BS_DeleteBookPrinters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_DeleteUser</servlet-name>
        <servlet-class>com.controller.action.US_DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_ActiveDeactiveUser</servlet-name>
        <servlet-class>com.controller.action.US_ActiveDeactiveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_AdminSaveUser</servlet-name>
        <servlet-class>com.controller.action.US_AdminSaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>US_AdminUpdateUser</servlet-name>
        <servlet-class>com.controller.action.US_AdminUpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BS_SaveBookCategory</servlet-name>
        <url-pattern>/BS_SaveBookCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_DeleteBookCategory</servlet-name>
        <url-pattern>/BS_DeleteBookCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_LoadBooks</servlet-name>
        <url-pattern>/BS_LoadBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_UserLogin</servlet-name>
        <url-pattern>/US_UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_SaveUser</servlet-name>
        <url-pattern>/US_SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_Logout</servlet-name>
        <url-pattern>/US_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_UpdateUser</servlet-name>
        <url-pattern>/US_UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_ChangePassword</servlet-name>
        <url-pattern>/US_ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_SaveBook</servlet-name>
        <url-pattern>/BS_SaveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_UpdateBook</servlet-name>
        <url-pattern>/BS_UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_DeleteBook</servlet-name>
        <url-pattern>/BS_DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_SaveBookAuthor</servlet-name>
        <url-pattern>/BS_SaveBookAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_SaveBookPrinters</servlet-name>
        <url-pattern>/BS_SaveBookPrinters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_DeleteBookAuthor</servlet-name>
        <url-pattern>/BS_DeleteBookAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BS_DeleteBookPrinters</servlet-name>
        <url-pattern>/BS_DeleteBookPrinters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_DeleteUser</servlet-name>
        <url-pattern>/US_DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_ActiveDeactiveUser</servlet-name>
        <url-pattern>/US_ActiveDeactiveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_AdminSaveUser</servlet-name>
        <url-pattern>/US_AdminSaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>US_AdminUpdateUser</servlet-name>
        <url-pattern>/US_AdminUpdateUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
